<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmos.chopmkactivity.dao.emp.EmpDAO" >
  <resultMap id="BaseResultMap" type="com.cmos.chopmkactivity.beans.emp.Emp" >
    <id column="empno" property="empno" jdbcType="DECIMAL" />
    <result column="ename" property="ename" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="mgr" property="mgr" jdbcType="DECIMAL" />
    <result column="hiredate" property="hiredate" jdbcType="DATE" />
    <result column="sal" property="sal" jdbcType="DECIMAL" />
    <result column="comm" property="comm" jdbcType="DECIMAL" />
    <result column="deptno" property="deptno" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from emp
    where empno = #{empno,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.cmos.chopmkactivity.beans.emp.Emp" >
    insert into emp (empno, ename, job,
    mgr, hiredate, sal, comm,
    deptno)
    values (#{empno,jdbcType=DECIMAL}, #{ename,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR},
    #{mgr,jdbcType=DECIMAL}, #{hiredate,jdbcType=DATE}, #{sal,jdbcType=DECIMAL}, #{comm,jdbcType=DECIMAL},
    #{deptno,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmos.chopmkactivity.beans.emp.Emp" >
    update emp
    set ename = #{ename,jdbcType=VARCHAR},
    job = #{job,jdbcType=VARCHAR},
    mgr = #{mgr,jdbcType=DECIMAL},
    hiredate = #{hiredate,jdbcType=DATE},
    sal = #{sal,jdbcType=DECIMAL},
    comm = #{comm,jdbcType=DECIMAL},
    deptno = #{deptno,jdbcType=DECIMAL}
    where empno = #{empno,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select empno, ename, job, mgr, hiredate, sal, comm, deptno
    from emp
    where empno = #{empno,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select empno, ename, job, mgr, hiredate, sal, comm, deptno
    from emp
  </select>
  <select id="countByDeptno" resultType="java.lang.Integer">
    select count(*)
    from emp
    where deptno = #{deptno,jdbcType=DECIMAL}
  </select>
</mapper>